.admin_notifications_toggle{
    display: flex;
    width: 180px;
    height: 70px;
    background: #EBEBEB;
    align-items: center;
    cursor: pointer;
}

.admin_notifications_toggle_number{
    position: relative;
    bottom: 50%;
    left: 90%;
    border: 1px solid;
    border-radius: 50px;
    padding: 1px 10px;
    color: #FFF;
    background: #F81B1B;
}

.admin_notifications{
    margin-top: 8px;
    padding: 8px;
    width: 330px;
    background: #DDDDDD;
    height: 320px;
    overflow: auto;
}

.admin_notifications_panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
