/* Estilos para el tema claro */
html[data-theme="light"] {
    --color-talent-background: #E4E4DD;
    --color-talent-title:#000000;
}

/* Estilos para el tema oscuro */
html[data-theme="dark"] {
    --color-talent-background: #1B1B1B;
    --color-talent-title:#FFFFFF;
}

.main_talent{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-talent-background);
}

.main_talent_title{
    color: var(--color-talent-title);
}